<div class="container">
  <header>
    <h1>Mini Project</h1>
  </header>
  <form [formGroup]="form">
    <app-dropdown
      [labelName]="'region'"
      [dropDownOptions]="regions"
      [formName]="form"
    >
    </app-dropdown>
    <br>

    <div *ngIf="countryDropDownFlag">
      <app-dropdown 
        [labelName]="'country'"
        [dropDownOptions]="countriesName"
        [formName]="form"
      >
      </app-dropdown>
     
      <br>

      <button id="loadCountry"
      class="btn btn-primary"
      (click)="onLoadCountry()">Load Country</button>
      
    </div>
    
    <br>
    <table *ngIf="showCountryDetails">
      <tr>
        <th *ngFor="let header of tableHeaders">
          {{ header }}
        </th>
      </tr>
      <tr>
        <td>{{ selectedCountryDetails.name }}</td>
        <td>{{ selectedCountryDetails.capital }}</td>
        <td>{{ selectedCountryDetails.population }}</td>
        <td>{{ selectedCountryDetails.currencies[0].code }}</td>
        <td><img src="{{ selectedCountryDetails.flag }}" alt="{{ selectedCountryDetails.name }}" width="50px" height="50px"></td>
      </tr>
    </table>
  </form>
</div>
